/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: "Azeret Mono", monospace;

}

.banner-section-container{
    margin-top: 135px;
    margin-bottom: 40px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 



}

.banner-content {

   width: 50%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
  
}




.banner-content img {

 margin-top: 28%;

}

.banner-content h1 {

    width: 600px;
    height: 125px;
    margin-top: 10px;
    font-size: 34px;
  font-weight: 500px;

}

.banner-content p {
   
    font-size: 14px;
   font-weight: 350;
   margin-bottom: 38px;

}





.banner-content button {
    width: 180px;
   height: 40px;
    color: white;
    border-radius: 7px;

background: rgb(13, 19, 33);
margin-top: 10px;

}